@use "app/shared/styles/colors" as *;
@use "app/shared/styles/typography" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: "DM Sans", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "DM Sans";
  src: url("/assets/fonts/dm-sans/DM_Sans-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "DM Sans";
  src: url("/assets/fonts/dm-sans/DM_Sans-Medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "DM Sans";
  src: url("/assets/fonts/dm-sans/DM_Sans-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}
